body{
  margin: 0;
  font-family: Arial;
  position: relative;
}

a{
  text-decoration: none;
}

.in-front-of-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  color: #182145;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.logo{
  max-width: 400px;
  width: 100%;
}

.email{
  display: flex;
  flex-direction: column;
  padding-right: 6px;
  gap: 0.5rem;
}

.contacts-of-header{
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.phones{
  display: flex;
  text-align: right;
  border-right: 2px solid #182145;
  padding-right: 1rem;
  padding-top: 10px;
  gap: 0.5rem;
}

.name-phone{

}

.phone-number{
  color: #e35b34;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.icon-contact{
  width: 40px;
}

@media (max-width: 860px) {
  .in-front-of-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 460px){
  .email{
  text-align: center;
  }

  .phones{
    border: 0;
  }
}



.pushmenu{
  color: #182145;
  font-size: 28px;
  background: #fafafa;
  text-align: right;
  font-weight: 600;
  display: none;
}

#nav-icon2{
  cursor: pointer;
}

#nav-icon3 {
  position: relative;
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #90b5cc;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 12px;
}
#nav-icon3 span:nth-child(4) {
  top: 24px;
}
#nav-icon3.open span:nth-child(1),#nav-icon3.opened span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}
#nav-icon3.open span:nth-child(2),#nav-icon3.opened span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3),#nav-icon3.opened span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4),#nav-icon3.opened span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.sidebar #nav-icon3 span {background: #fff;}

body.sidebar-opened {overflow:hidden;}
.hidden-overley {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #000000;
  opacity:0;
  width:0;
  height:0;
  transition: opacity 1s;
}
.hidden-overley.show {
  height: 100%;
  width: 100%;
  opacity:0.5;
  transition: opacity 1s;
}
.sidebar{
  position: fixed;
  z-index:100;
  width: 300px;
  height: 100%;
  right: -300px;
  top:0;
  background: #fafafa;
  transition: right 0.4s ease;
  overflow: auto;
}
.sidebar .d-flex.p-2 {display:-webkit-box;display:flex;padding: 10px!important;}
.sidebar .text{
  color: #182145;
  font-size: 18px;
  font-weight: 600;
  line-height: inherit;
  text-align: center;
  background: #fafafa;
  letter-spacing: 1px;
  -webkit-box-pack: justify;    -ms-flex-pack: justify;    justify-content: space-between; -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;
}
.sidebar .side-tel {font-size:0.8rem;}
.sidebar .text a {color: #182145;}

.sidebar.show{
  right: 0px;
}
.sidebar ul{
  background: none;
  height: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding:0;
}
.sidebar ul li{
  line-height: 60px;
  border-top: 1px solid #eee;
  margin: 0;
}
.sidebar ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.sidebar ul li a{
  box-sizing:border-box;
  position: relative;
  color: #182145;
  text-decoration: none;
  font-size: 18px;
  padding-left: 30px;
  font-weight: 500;
  display: block;
  width: 100%;
}
.sidebar ul li.current-menu-item a{
  color: #182145;
  background: #fafafa;
}

.sidebar ul li a:hover{
  cursor:pointer;
  background: gray;
}
.sidebar ul ul{
  position: static;
  display: none;
}
.sidebar ul .sub-menu.show{
  display: block;
}

.sidebar ul ul li{
  line-height: 42px;
  border-top: none;
}
.sidebar ul ul li a{
  font-size: 17px;
  color: #182145;
  padding-left: 40px;
}
.sidebar ul li.current-menu-item ul li a{
  color: #333;
  background: #f9f9f9;
  border-left-color: transparent;
}
.sidebar ul li ul li.current-menu-item a {color:#2196F3;}
.sidebar ul ul li a:hover{
  color: #333!important;
  background: gray!important;
}
.sidebar ul li a i:before {display:none;}
.sidebar ul li.menu-parent-item a i:before{
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
  width: 20px;
  height: 20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.011 512.011' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath d='M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  background-size: contain;
  display: block;
}
.sidebar ul ul a i:before {display:none !important;}
.sidebar ul li a i.rotate:before{
  transform: translateY(-50%) rotate(-180deg);
}

.under-menu{
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: -1px;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 20;
}

.under-menu-container{
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.li-under-menu{
  list-style-type: none;
}

.a-li-under-menu{
  color: #182145;
  text-decoration: none;
  font-weight: 700;
}

.a-li-under-menu:hover{
  color: #e35b34;
}

@media (max-width: 1256px){
  .pushmenu{
    display: block;
  }

  .under-menu{
    display: none;
  }
}

.our-clients-box-and-partners{

}

.our-clients-text-and-partners{
  text-align: center;
  color: #182145;
  font-size: 22px;
  font-weight: 700;
}

.our-clients-container-and-partners{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.clients-logo{
  max-width: 400px;
  width: 100%;
}

.our-services{

}

.our-services-container{

}

.our-services-text-and-photo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px;
}

.photo-service{
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
}

.text-service{
  max-width: 600px;
}

.name-service{
  font-weight: 700;
  font-size: 18px;
  color: #182145;
  text-align: center;
}

.full-text-service{
  font-size: 14px;
}

.weight-text{
  font-weight: 700;
}


@media (max-width: 1144px){
  .flex-end{
    display: flex;
    flex-direction: column-reverse;
  }

  .photo-service{
    max-width: 700px;
  }

  .text-service{
    max-width: 700px;
  }
}
.text-additional{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.intro{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 500px;
}

.intro1{
  height: 800px;
}

.intro-media{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.intro-media1{
  max-height: 800px;
}

.intro-media-video{
  max-width: 1600px;
  width: 100%;
}

.intro-media-video1{
  max-width: 1600px;
  width: 100%;
}

@media (max-width: 706px){
  .intro-media-video{
    width: auto;
  }
}

.intro-content{
  z-index: 10;
  padding: 20px;
  color: #182145;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name-company{
  font-size: 42px;
  font-weight: 800;
}

.name-service-about-us{
  text-align: left;
}

.photo-about-us{
  border-radius: 70px;
  max-width: 500px;
}

.name-values{
  font-size: 30px;
  font-weight: 700;
}

.photo-carousel {
  width: 300px;
  height: 200px;
}

.carousel-container {
  max-width: 1100px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
  gap: 2rem;
}

.carousel-container1 {
  max-width: 1100px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel1 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
  gap: 2rem;
}

.events-name{
  font-size: 14px;
  max-width: 600px;
  margin: 20px auto;
}

.container-events{
  padding: 20px;
}

.carousel-container3{
  max-width: 1100px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel3{
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
  gap: 2rem;
}


.carousel-container4{
  max-width: 1100px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel4{
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
  gap: 2rem;
}

.carousel-container5{
  max-width: 1100px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel5{
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
  gap: 2rem;
}

.button-to-contact{
  width: 240px;
  padding: 10px;
  border-radius: 8px;
  background: none;
  border: 3px solid #182145;
  cursor: pointer;
}

.button-to-contact1{
  width: 240px;
  padding: 10px;
  border-radius: 8px;
  background: none;
  border: 3px solid #182145;
  cursor: pointer;
}

.button-to-contact1:hover{
  border: 3px solid #e35b34;
}

.link-to-contact{
  color: #182145;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
}

.link-to-contact1{
  color: #182145;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

.button-to-contact:hover{
  border: 3px solid #e35b34;
}

.phone-country{
  color: #e35b34;
  text-decoration: none;
}


.contacts-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 20px;
}

.phones-foot{
  display: flex;
  text-align: right;
  padding-right: 1rem;
  padding-top: 10px;
  gap: 0.5rem;
}

.map{
  max-width: 800px;
  width: 100%;
}

.in-front-of-footer{
  display: flex;
  background: #fafafa;
  color: #182145;
  padding: 20px;
  flex-direction: column;
}

.contact-footer-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.country{
  color: #182145;
  font-weight: 600;
}

.name{
  color: #e35b34;
  font-weight: 600;
}

.footer-country-phones{
  border-bottom: 2px solid #e35b34;
}

.name-phone1{
  color: #182145;
}

.unido-logo{
  max-width: 400px;
  width: 100%;
}

.main-name{
  background: url(images/port3.jpg) center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 2560px;
  height: 720px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.blue-background{
  background: #009cdcc4;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;
}

.date1{
  width: 120px;
  border-bottom: 6px solid #f16500;
}

.date2{
  border-bottom: 6px dotted white;
  color: #f16500;
  font-size: 32px;
  font-weight: bold;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date{
  display: flex;
  gap: 1rem;
}

.date-location{
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.date-location1{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-d-l{

}

.name-l-d{
  font-size: 16px;
  font-weight: 800;
  color: white;
}

.bold{
  font-weight: 900;
  font-size: 18px;
}

.name-forum{
  color: white;
  font-bold: bold;
}

.eip{
  color: #2196F3;
  font-size: 38px;
}

.black{
  color: black;
}

.plan{

}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  background: url(images/3548.jpg) center;
  /*background: #2196F3;*/
}

.description-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.description1{
  max-width: 1000px;
}

.description2{
  font-family: sans-serif;
  font-weight: normal;
}

table {
  max-width: 1000px;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border-bottom: 4px solid #009fe3;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #009fe3;
  color: white;
}

.table1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.orange{
  color: #f16500;
  font-size: 38px;
}

.photo-speak{
  /*max-width: 400px;*/
  /*width: 100%;*/
  border-radius: 100%;
  border-right: 16px solid #2196F3;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.speakers1{
  /*display: flex;*/
  /*align-items: center;*/
  /*gap: 2rem;*/
  /*border-bottom: 3px solid #009fe3;*/
  /*max-width: 1000px;*/
  /*width: 100%;*/
  /*padding: 10px;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/

  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*text-align: center;*/
  /*border: 6px solid #009fe3;*/
  /*padding: 10px;*/
  /*max-width: 400px;*/
  /*width: 100%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 6px solid white;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
  background: white;
  margin: 0 10px;
}

.speakers2{
  /*display: flex;*/
  /*align-items: center;*/
  /*gap: 2rem;*/
  /*flex-direction: row-reverse;*/
  /*border-bottom: 3px solid #009fe3;*/
  /*max-width: 1000px;*/
  /*width: 100%;*/
  /*padding: 10px;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*text-align: center;*/
  /*border: 6px solid #009fe3;*/
  /*padding: 10px;*/
  /*max-width: 400px;*/
  /*width: 100%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 6px solid white;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
}

@media (max-width: 831px){
  .speakers2{
    flex-direction: row;
  }
}

.speakers{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(images/abstract-textured-backgound.jpg);
  /*background: #2196F3;*/
  margin-top: -10px;
  padding-bottom: 10px;
}

.speakers-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1300px;
}

.description-speak{
  max-width: 400px;
  width: 100%;
  color: black;
  font-weight: 900;
  text-align: left;
}

.icons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  margin: 10px auto;
}

.footer-unido{
  background: #2196F3;
  padding: 20px;
}

.icon-d-l-d{
  width: 30px;
}

/*.line{*/
/*  */
/*}*/
